<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<section class="bg-white dark:bg-gray-900" th:fragment="popular-posts">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
      <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Bài viết nổi bật trong tháng</h2>
      <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Cùng khám phá những bài viết được cộng đồng tranh luận sôi nổi nhất.</p>
    </div>
    <div class="grid gap-8 lg:grid-cols-4">
<!--        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">-->
<!--            <a href="#">-->
<!--                <img class="rounded-t-lg" src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE53z0D?ver=29ba" alt="" />-->
<!--            </a>-->
<!--            <div class="flex justify-between items-center px-3 mt-2 text-gray-500">-->
<!--                  <span class="bg-primary-100 text-primary-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800">-->
<!--                      <svg class="mr-1 w-3 h-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z"></path></svg>-->
<!--                      Tutorial-->
<!--                  </span>-->
<!--                <span class="text-sm">14 days ago</span>-->
<!--            </div>-->
<!--            <div class="p-5">-->
<!--                <a href="#">-->
<!--                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>-->
<!--                </a>-->
<!--                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>-->
<!--                <div class="flex items-center space-x-4">-->
<!--                    <img class="w-7 h-7 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png" alt="Bonnie Green avatar" />-->
<!--                    <span class="font-medium dark:text-white">-->
<!--                          Bonnie Green-->
<!--                    </span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
  </div>
</section>
</body>
</html>